name: cd

on:
  push:
    branches: ["main"]

permissions:
  id-token: write
  contents: read

env:
  AWS_REGION: us-east-1

  # ECR
  ECR_REPO: app-automatic-pipeline-api
  CONTAINER_NAME: api

  # CodeDeploy
  CODEDEPLOY_APP: app-automatic-pipeline-dev-ecs-app
  CODEDEPLOY_DG: app-automatic-pipeline-dev-ecs-dg

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Show GitHub context
        run: |
          echo "repo=$GITHUB_REPOSITORY"
          echo "ref=$GITHUB_REF"

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build & Push (ARM64 - Graviton)
        uses: docker/build-push-action@v6
        with:
          context: ./app
          file: ./app/Dockerfile
          push: true
          platforms: linux/arm64
          tags: |
            ${{ steps.login-ecr.outputs.registry }}/${{ env.ECR_REPO }}:${{ github.sha }}
            ${{ steps.login-ecr.outputs.registry }}/${{ env.ECR_REPO }}:latest

      - name: Prepare deploy variables
        run: |
          echo "NEW_IMAGE=${{ steps.login-ecr.outputs.registry }}/${{ env.ECR_REPO }}:${{ github.sha }}" >> $GITHUB_ENV
          echo "TD_JSON<<EOF" >> $GITHUB_ENV
          aws ecs describe-task-definition --task-definition app-automatic-pipeline-dev-api --query 'taskDefinition' --output json >> $GITHUB_ENV
          echo "EOF" >> $GITHUB_ENV

      - name: Register new task definition revision (safe)
        id: register
        run: |
          CLEAN=$(python - <<'PY'
          import json, os

          td = json.loads(os.environ["TD_JSON"])

          # remove campos read-only
          for k in ["taskDefinitionArn","revision","status","requiresAttributes","compatibilities","registeredAt","registeredBy"]:
              td.pop(k, None)

          # troca imagem do container api
          new_image = os.environ["NEW_IMAGE"]
          for c in td["containerDefinitions"]:
              if c.get("name") == "api":
                  c["image"] = new_image

          print(json.dumps(td))
          PY
          )

          ARN=$(aws ecs register-task-definition \
            --cli-input-json "$CLEAN" \
            --query 'taskDefinition.taskDefinitionArn' --output text)

          echo "TASKDEF_ARN=$ARN" >> $GITHUB_OUTPUT
          echo "Registered: $ARN"
        env:
          TD_JSON: ${{ env.TD_JSON }}
          NEW_IMAGE: ${{ env.NEW_IMAGE }}

      - name: Generate AppSpec for CodeDeploy
        run: |
          sed "s|TASK_DEFINITION_ARN|${{ steps.register.outputs.TASKDEF_ARN }}|g" \
            deploy/appspec.yaml > deploy/appspec.rendered.yaml
      
      - name: Validate rendered AppSpec
        run: |
          echo "=== appspec.rendered.yaml ==="
          cat deploy/appspec.rendered.yaml

      - name: Create CodeDeploy deployment
        id: deploy
        run: |
          python - <<'PY'
          import json, os
          from pathlib import Path

          content = Path("deploy/appspec.rendered.yaml").read_text()

          payload = {
            "applicationName": os.environ["CODEDEPLOY_APP"],
            "deploymentGroupName": os.environ["CODEDEPLOY_DG"],
            "revision": {
              "revisionType": "AppSpecContent",
              "appSpecContent": {"content": content}
            },
            "description": f"Deploy {os.environ.get('GITHUB_SHA','')}"
          }

          Path("deploy/deployment.json").write_text(json.dumps(payload))
          PY

          DEPLOYMENT_ID=$(aws deploy create-deployment \
            --cli-input-json file://deploy/deployment.json \
            --query 'deploymentId' --output text)

          echo "DEPLOYMENT_ID=$DEPLOYMENT_ID" >> $GITHUB_OUTPUT
          echo "Created deployment: $DEPLOYMENT_ID"


      - name: Wait deployment succeed
        run: |
          aws deploy wait deployment-successful --deployment-id "${{ steps.deploy.outputs.DEPLOYMENT_ID }}"
